
.followers {
  background-color: rgba(255, 0, 0, .2);
  transform: translateY(-55px);

  @include breakpoint-up(mobile) {
    transform: translateY(-110px);
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__gridItem {
    padding: 10px;
    min-width: 255px;
    overflow: hidden;
    height: 13.4375rem;
    border-radius: 5px;
    position: relative;
    background-color: white;

    $webs: (
      "youtube": $Youtube,
      "twitter": $Twitter,
      "facebook": $Facebook,
      "instagram": ($InstagramGradient1, $InstagramGradient2)
    );

    @each $rede in map-keys($webs) {
      $colourMap: map-get($webs, $rede);

      &.#{$rede} .followers__topBorder {
        @if length($colourMap) > 1 {
          background-image: linear-gradient(
            to right, $colourMap
          );
        } @else {
          background-color: $colourMap;
        }
      }
    }


    @include breakpoint-down(medium) {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__topBorder {
    width: 100%;
    height: 4px;
    top: 0px;
    left: 0px;
    position: absolute;
  }

}
